
        /*************** 
            Nav Bar 
        ***************/

.navbar-brand { position: left; z-index: 2; }

.navbar-nav.navbar-right .btn { position: relative; z-index: 2; padding: 4px 20px; margin: 10px auto; }

.navbar .navbar-collapse { position: relative; }
.navbar .navbar-collapse .navbar-right > li:last-child { padding-left: 22px; }

.navbar .nav-collapse { position: absolute; z-index: 1; top: 0; left: 0; right: 0; bottom: 0; margin: 0; padding-right: 120px; padding-left: 80px; width: 100%; }

.navbar.navbar-default .nav-collapse { background-color: #white; }
.navbar.navbar-inverse .nav-collapse { background-color: #222; }
.navbar .nav-collapse .navbar-form { border-width: 0; box-shadow: none; }

.nav-collapse>li { float: right; }

.btn.btn-circle { border-radius: 50px; }

.btn.btn-outline { background-color: transparent; }

@media screen and (max-width: 767px) {
    .navbar .navbar-collapse .navbar-right > li:last-child { padding-left: 15px; padding-right: 15px; } 
    
    .navbar .nav-collapse { margin: 7.5px auto; padding: 0; }
    
    .navbar .nav-collapse .navbar-form { margin: 0; }
    
    .nav-collapse>li { float: none; }
}

        /**************
           Site Styles
        **************/

body {
    background-color: grey;
    
}

p {
    color: white;
}

        /****************
            Jumbtrons
        *****************/

.jumbo {
    background-image: url('../img/rock%20wall%20jumbo.JPG');
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    color: white;
    posistion:relative;
  z-index: 2;
  box-shadow: 0 8px 16px -6px black;
    height: 300px;
        
}

@media (min-width:320px) {
    .jumbo {
        height: 250px;
    }
}

@media (min-width:768px) {
    .jumbo {
        height:400px;
    }
}
@media (min-width:1024px) {
    .jumbo {
        height: 500px;
    }
}

.jumbotron1 {
    background: url("http://www.theparklands.org/res/uploads/media//_MG_9381.jpg") no-repeat center center; 
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    color: white;
    posistion:relative;
  z-index: 2;
  box-shadow: 0 8px 16px -6px black;
    
}

.jumbotron2 {
    background-image: url('../img/elkhorn%20creek.jpg'); 
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    color: white;
    posistion:relative;
  z-index: 2;
  box-shadow: 0 8px 16px -6px black;
}

.jumbotron3 {
    background-image: url('../img/harrods%20creek.jpg'); 
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    color: white;
    posistion:relative;
  z-index: 2;
  box-shadow: 0 8px 16px -6px black;
}

.shad {
    background-color: rgba(0,0,0,.8);
    width: 200px;
    margin: 0 auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

@media (min-width: 768px) {
    
    .shad {
        width: 600px;
    }
    
}

        /****************
            Containers
        ******************/

.alphaAlpha {
    
    background-color: lightgreen;
    border-radius: 4px;
    posistion:relative;
  z-index: 2;
  box-shadow: 0 8px 16px -6px black;
}

.social {
    padding: 50px;
}

.signature  h1 {
    text-align: left;
    color: white;
    padding-left: 20px;
    font-size: 1.25em;
     
}

.container {
            
         text-align: center;       
}
            
.borders {
        
        border: none;
        padding-bottom: 25px;
        padding-top: 35px;
}

        /**************
            Home
        ***************/

.linkbar {
    background-color: orange;
    color: white;
    height: 50px;
}

        /******************
            Contact
        ******************/

.team {
    padding: 30px;
}

.contacthead {
    width: 300px;
    padding-bottom: 40px;
    padding-top: 30px;
    
}

.contactinfo {
}

.teamMember {
    border: 4px solid orange;
    border-radius: 5px
}

        /******************
                About
        *******************/

.basslogo {
    
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 150px;
    height: 150px;
    
}

@media (min-width: 768px) {
    
    .basslogo {
        width: 300px;
        height: 300px;
    }
}
